body {
  margin-left: 20px;
  font-family: "Open Sans";
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gameTile {
  width: 55px;
  height: 55px;
  background-color: white;
  margin-top: -10px;
  margin-right: -4.5px;
  font-size: 60px;
  padding: 50px;
  font-family: "Fuzzy Bubbles";
  border: 2px solid black;
  font-weight: 700;
}

#btnx1 {
  border-top: white;
  border-left: white;
}

#btnx4 {
  border-top: white;
}
#btnx7 {
  border-top: white;
  border-right: white;
}

#btnx2 {
  border-left: white;
}
#btnx8 {
  border-right: white;
}
#btnx3 {
  border-left: white;
  border-bottom: white;
}
#btnx6 {
  border-bottom: white;
}

#btnx9 {
  border-right: white;
  border-bottom: white;
}

.gameTile:hover {
  background-color: rgb(240, 240, 240);
}

#start-game {
  width: 250px;
  height: 20px;
  padding-bottom: 95px;
  border-radius: 3px;
  background-color: white;
  font-size: 40px;
}
#start-game:hover {
  background-color: rgb(240, 240, 240);
}

#gameContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

button {
  width: 70px;
  height: 70px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
}

#endnewbtn {
  width: 250px;
  height: 20px;
  padding-bottom: 95px;
  border-radius: 3px;
  background-color: white;
  font-size: 40px;
}

#endnewbtn:hover {
  background-color: rgb(240, 240, 240);
}

#player {
  font-size: 50px;
  color: 12;
}

.gameTile {
  cursor: pointer;
}

button {
  cursor: pointer;
}

#sidebar {
  display: flex;
  flex-direction: row;
}

#winner {
  font-size: 50px;
}
